.git
.gitignore
.DS_Store

.venv
.toposync-data
toposync-data

node_modules
**/node_modules
.yarn
.pnp.cjs
.pnp.loader.mjs
yarn.lock

dist
**/dist
build
**/build

.ruff_cache
__pycache__
*.pyc
.pytest_cache

test-results
playwright-report

*.log
