.DS_Store
.env
.venv
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/

node_modules/
dist/
build/
.parcel-cache/

.toposync-data/

*.log

*.ignore.md
ignore/

# Playwright
test-results/
playwright-report/
yolo*.pt

